.avatar {
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--grey-3);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.xs {
  width: 20px;
  height: 20px;
}

.sm {
  width: 24px;
  height: 24px;
}

.md {
  width: 32px;
  height: 32px;
}

.lg {
  width: 40px;
  height: 40px;
}
