.newTask {
    padding: 11px 10px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--grey-1) !important;
    }
    &:active {
        background-color: #e2e8f0;
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.primary {
        background-color: var(--blue-3);
        color: var(--blue-9);
        border-color: var(--blue-5);
    }
    &.secondary {
        background-color: var(--yellow-4);
        color: var(--yellow-9);
        border-color: var(--yellow-6);
    }
    &.danger {
        background-color: var(--red-1);
        color: var(--red-9);
        border-color: var(--red-3);
    }
    &.ghost {
        background-color: var(--grey-1);
        color: var(--grey-7);
        border-color: var(--grey-4);
    }

    i {
        font-size: 18px;
    }
   
}

