.column {
    width: 276px;
    padding: 7px 9px;
    border-radius: 11px;
    background-color: rgba(66,35,3,.031);

    .cards {
        padding-top: 12px;
        min-height: 60px;
    }
    .wrapBadge {
        padding-left: 3px;
    }
    .columnDragHandle {
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
    }

    .count {
        font-size: 14px;
        font-weight: 700;
        color: var(--grey-6);
        padding-left: 8px;
    }

    .icon {
        display: flex;
        padding: 0 2px;
        background: none;
        border: none;
        cursor: pointer;
        color: var(--grey-6);
        span {
            font-size: 18px;
        }
    }
}