


  :root {
    --color-text: #1e293b;
    --font-size-sm: 14px;
    --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    --color-primary: #6366f1;
    --color-secondary: #f1f5f9;
    --color-danger: #ef4444;
    --color-ghost: #1c13011c;
    --border: #2a1c0012;

    --black: #000000;
    --black-1: #1e293b;
    --black-2: #494846;
    --black-3: #8e8b86;
    --black-4: #e0e0e0;
    --black-5: #f5f5f5;
    --black-6: #f9f8f7;
    --black-7: #f9fbe7;
    --black-8: #fcfaf2;

    --grey: #9e9e9e;
    --grey-1: #f9f8f7;
    --grey-2: #f5f5f5;
    --grey-3: #eeeeee;
    --grey-4: #e0e0e0;
    --grey-5: #1c13011c;
    --grey-6: #8e8b86;
    --grey-7: #494846;

    --orange: #f1dfb8;
    --orange-1: #f9fbe7;
    --orange-2: #f0f4c3;
    --orange-3: #e6ee9c;
    --orange-4: #fcfaf2;
    --orange-5: #f1dfb8;
    --orange-6: #d8a330;


    --yellow: #fcfaf2;
    --yellow-1: #f9fbe7;
    --yellow-2: #f0f4c3;
    --yellow-3: #e6ee9c;
    --yellow-4: #fcfaf2;
    --yellow-5: #f1dfb8;
    --yellow-6: #f1e0ba;
    --yellow-7: #d8a330;
    --yellow-8: #d8a330;
    --yellow-9: #655121;


    --red: #ef4444;
    --red-1: #fef2f2;
    --red-2: #fee2e2;
    --red-3: #fecaca;
    --red-4: #fca5a5;
    --red-5: #f87171;
    --red-6: #ef4444;
    --red-7: #dc2626;

    --blue: #2196f3;
    --blue-1: #f5f9ff;
    --blue-2: #bbdefb;
    --blue-3: #f5f9fd;
    --blue-4: #64b5f6;
    --blue-5: #cadef6;
    --blue-6: #3b82f6;
    --blue-7: #2563eb;
    --blue-8: #1d4ed8;
    --blue-9: #264a72;
    --blue-10: #1e3a8a;
    --blue-11: #172554;
    --blue-12: #1e3a8a;
    --blue-13: #1e3a8a;
    --blue-14: #1e3a8a;


    --brown: #655121;
    --brown-1: #f9fbe7;
    --brown-2: #b68965;
    --brown-3: #e7d8d2;
    --brown-4: #faf8f7;
    --brown-5: #f1dfb8;
    --brown-6: #d8a330;
    --brown-7: #d8a330;
    --brown-8: #d8a330;

  }

  .flex {
    display: flex;
    align-items: flex-start;
  }

  .items-center {
    align-items: center;
  }

  .items-end {
    align-items: flex-end;
  }


  .justify-end {
    justify-content: flex-end;
  }

  .justify-start {
    justify-content: flex-start;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-around {
    justify-content: space-around;
  }

  .justify-evenly {
    justify-content: space-evenly;
  }

  .justify-between {
    justify-content: space-between;
  }

  .gap-1 {
    gap: 4px;
  }

  .gap-2 {
    gap: 8px;
  }

  .gap-3 {
    gap: 12px;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }