

.badge {
    height: 20px;
    border-radius: 10px;
    padding-inline: 7px 9px;
    font-size: var(--font-size-sm);
    display: inline-flex;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--grey-6);
}