

.badge {
    height: 20px;
    border-radius: 10px;
    padding-inline: 7px 9px;
    font-size: var(--font-size-sm);
    display: inline-flex;

    &.primary {
        background-color: var(--blue-5);
        color: var(--blue-9);
        .dot {
            background-color: var(--blue-6);
        }
    }

    &.secondary {
        background-color: var(--yellow-6);
        color: var(--yellow-9);
        .dot {
            background-color: var(--yellow-7);
        }
    }

    &.backlog {
        background-color: var(--brown-3);
        color: var(--brown);
        .dot {
            background-color: var(--brown-2);
        }
    }
    &.done {
        background-color: var(--purple-5);
        color: var(--purple-7);
        .dot {
            background-color: var(--purple);
        }
    }
    &.danger {
        background-color: var(--red);
        color: #fff;
        .dot {
            background-color: var(--red-6);
        }
    }
    &.blocked {
        background-color: var(--red-3);
        color: var(--red-8);
        .dot {
            background-color: var(--red-8);
        }
    }

    &.canceled {
        background-color: var(--grey-5);
        color: var(--grey-7);
        .dot {
            background-color: var(--grey-6);
        }
    }

    &.ghost {
        background-color: var(--grey-5);
        color: var(--grey-7);
        .dot {
            background-color: var(--grey-6);
        }
    }
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--grey-6);
}